.recordsChart {
  margin-bottom: 2em;
  position: relative;
  height: 150px;
  width: 100%;
}

.intervalLabel {
  background-color: var(--antd-bg-container);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}
