.BucketList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

.Panel {
  text-align: left;
  margin: 1em;
}

.Panel #ServerInfo a {
  text-decoration: underline;
}

.Panel #ServerInfo a:hover {
  opacity: 0.8;
}

.warningIcon {
  color: #faac14;
  display: inline-block;
  font-size: 0.9em;
  margin-right: -8px;
}

.hide {
  display: none;
}
