.bucketDetail {
  margin: 1.4em;
}

.entriesHeader {
  margin-bottom: 0.6em;
  margin-left: 0;
}

.entriesTitle {
  margin: 0;
}

.searchInput {
  width: 240px;
}

.entriesTable {
  margin: 0.6em;
}

.removeButton {
  color: red;
}

.filterDropdown {
  padding: 8px;
}

.filterDropdownInput {
  margin-bottom: 8px;
  display: block;
}

.filterDropdownSpace {
  display: flex;
  justify-content: space-between;
}

.filterDropdownButton {
  width: 90px;
}

.filterIcon {
  color: inherit;
  font-size: 16px;
}

.filterIconActive {
  color: #db817b;
  font-size: 16px;
}
