.entryDetail {
  margin: 1.4em;
}

.detailControls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
  margin-top: 0.5em;
}

.timeInputs {
  display: flex;
  gap: 10px;
}

.timeInput {
  width: 200px;
}

.datePicker {
  width: 410px;
}

.formatSelect {
  width: 120px;
}

.limitInput {
  width: 120px;
}

.jsonFilterSection {
  margin: 10px 0;
  width: 100%;
}

.jsonEditor {
  margin: 8px 0;
  margin-bottom: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.jsonEditor .CodeMirror {
  height: auto;
  min-height: 100px;
}

.CodeMirror-scroll {
  min-height: 100px;
}

.jsonExample {
  display: block;
  margin-top: 8px;
  font-size: 12px;
}

.fetchButton {
  display: block;
}

.custom-tooltip .ant-tooltip-inner {
  background-color: #f0f0f0;
  color: #333;
}
