.App {
}

.Meta {
  position: absolute;
  bottom: 0;
  color: #cccccc;
  margin: 20px;
}

.MetaItem {
  padding: 5px 0;
}

.Sider {
}

.MenuItem {
  color: #cccccc;
  font-size: larger;
  font-weight: bold;
  padding: 10px;
}

.ant-menu-item-active {
  background-color: #cccccc !important;
  color: #231b49 !important;
}
